/*애니메이션 전용으로 css를 만든다.
크롬의 경우 keyframes앞에 webkit라고 써야한다.*/
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}   
}
@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}   
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}   
}
@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}   
}

.fadeIn{
    animation: fadeIn;
    animation-duration: 0.5s;
}

.fadeOut{
    animation: fadeOut;
    animation-duration: 0.5s;
}